<div class='realtime-thruput-widget' data-refreshAfterXSecs="{{ refreshAfterXSecs }}" data-last-minutes="{{ lastMinutes }}" >
    <div class='realtime-thruput-counter' title="{{ traffic_ps }}">
        <div>{{ traffic_ps }}</div> <span>{{ unit }}bps</span>
    </div>
    <br/>

    <div class='simple-realtime-elaboration'>
        {{ 'QoS_RealTimeMessage'|translate }}
        <span class="simple-realtime-metric" data-metric="minutes">{{ 'QoS_RealTimeInLastMessage'|translate(lastMinutes) | raw }}</span>

    </div>
</div>
<script type="text/javascript">$(document).ready(function () {require('piwik/QoS').initRealtimeThruputWidget();});</script>